/* font-family */
html{
  font-family: "Montserrat";
}

/* header */
header {
  color:black;
  padding: 10px 0;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

header#szereplok_header {
  background-color: #58943cf5; 
}

header#megjelenesek_header{
    background-color: #1c6d96e4 ;
}

header#krimi_header {
    background-color: #27492cdc;
}

header#romantikus_header {
  background-color: #ec9eb4d7;
}

header#szerzok_header {
  background-color: #292e53ef;
}

header#fooldal_header {
  background-color: #d68ea8df;
}
/* nav */
nav{
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;          
}

nav ul li a {
  color: aliceblue;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ff49d1 !important;
}


header, nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
/* cim */
.cim {
  padding: 10px 0;
  text-align: center;
  color:Black;
}

#cim_fooldal{
  padding: 10px 0;
  text-align: center;
  color:#000000f5;
}

#cim_szereplok {
  padding: 10px 0;
  text-align: center;
  color:#58943cf5;
}

#cim_megjelenesek{
  padding: 10px 0;
  text-align: center;
  color:white;
}

#cim_szerzok { 
  padding: 10px 0;
  text-align: center;
  color:white;
}
/* body */
body#megjelenesek{
    background-image: url("../hátterek/2025_hatter.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:aliceblue;
    padding: 40px;
}

body#fooldal {
  padding: 40px;
  background-image: url("../hátterek/fooldal_hatter.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: aliceblue; 
}

body#krimi {
  background-image: url("../hátterek/krimi_hatter.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:aliceblue;
  padding: 40px;
}
body#romantikus {
  background-image: url("../hátterek/romantikus_hatter.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:aliceblue;
  padding: 40px;
}
body#szereplok {
  background-image: url("../hátterek/szereplok_hatter.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:aliceblue;
  padding: 40px;
  margin: 0;
}
body#szerzok {
  background-image: url("../hátterek/szerzok_hatter.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:aliceblue;
  padding: 40px;
  margin:0px;
}
/* Könyv, szerző és szereplő div-ek */
.konyv_2025 {
  display: flex;
  background: #1c6d96e4;
  border-radius: 18px;
  padding: 32px;
  margin-bottom: 40px;
  align-items: center;
  max-width: 900px;
  gap: 32px;
  color:black;
}

.leiras {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.konyv-leiras h1, .konyv-leiras h2 {
  margin-top: 0;
}
.konyvek-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.konyv-kep {
  flex: 0 0 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.konyv-kep img {
  width: 210px;
  height: auto;
  border-radius: 10px;
}


.konyv_krimi {
  display: flex;
  background: #27492cdc;
  border-radius: 18px;
  padding: 32px;
  margin-bottom: 40px;
  align-items: center;
  max-width: 900px;
  gap: 32px;
  color:black;
}

.konyv_romantikus {
  display: flex;
  background: #ec9eb4d7;
  border-radius: 18px;
  padding: 32px;
  margin-bottom: 40px;
  align-items: center;
  max-width: 900px;
  gap: 32px;
  color:black;
}

.main-container {
  max-width: 700px;      
  width: 100%;
  margin: 40px auto;
  box-sizing: border-box;
  padding: 0 20px 24px 20px; 
  background-color: #d68ea8df;
  padding-bottom: 24px;
  border-radius: 20px;
}

.szereplok {
  display: flex;
  background: #58943cf5;
  border-radius: 18px;
  padding: 32px;
  margin-bottom: 40px;
  align-items: center;
  max-width: 900px;
  gap: 32px;
  color:black;
}

.bemutatas{
    text-align: left;
    margin:0;
}

.szereplok-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.szereplok-kep {
  flex: 0 0 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.szereplok-kep img {
  width: 210px;
  height: auto;
  border-radius: 10px;
}

.szerzo {
  display: flex;
  background: #292e53ef;
  border-radius: 18px;
  padding: 32px;
  margin-bottom: 40px;
  align-items: center;
  max-width: 900px;
  gap: 32px;
  color:black;
}

.leiras {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.leiras h1, .leiras h2{
  margin-top: 0;
}
.leiras ul {
    text-align: left;
    padding-left: 20px;  
    margin-left: 0;
}

.leiras h2 {
    text-align: left;
    margin-top: 20px;    
    margin-bottom: 12px;  
    width: 100%;
}

.szerzok-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.szerzo-kep {
  flex: 0 0 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.szerzo-kep img {
  width: 210px;
  height: auto;
  border-radius: 10px;
}

/* Főoldal űrlap */
p.info { color: #000000; text-align: center; margin-bottom: 20px; }
        
.form-group { 
  margin-bottom: 20px; 
}
.form-group label { 
  display: block; 
  margin-bottom: 8px;  
  color: #000000; 
}

.form-group input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], select, textarea, input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.radio-group label, .checkbox-group label { 
  display: inline;  
  margin-right: 15px; 
}

  input[type="radio"], input[type="checkbox"] { 
  transform: scale(1.2); 
  margin-right: 5px; 
}

#gomb0 { 
  width: 100%; 
  padding: 12px; 
  background-color: #ff49d1; 
  color: white; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer;
}

#gomb0:hover {
    background-color: #5a1844;
    cursor: pointer;
}

.error-msg { 
  color: #dc3545; 
  margin-top: 5px; 
  height: 1.2em; 
}

input.input-error { 
  border-color: #dc3545; 
  background-color: #fff8f8; 
}

.wishlist{
  max-width: 700px;      
  width: 100%;
  margin: 40px auto;
  box-sizing: border-box;
  padding: 35px; 
  background-color: #d68ea8df;
  padding-bottom: 24px;
  border-radius: 20px;
}

.wishlist h2{
    color:#000000;
    display:flex;
    align-items: center;
    gap: 10px;
    margin-bottom:16px;
}

.wishlist h2 img{
    width:28px;
}

.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0 ;
    border-radius: 30px;
    padding-left:12px;
    margin-bottom: 18px;
    gap: 10px;
}

#input-box{
    flex: 1;
    border: none;
    outline: none;
    background:transparent;
    padding:10px 12px;
    color: #111;
}

#gomb{
    border: none;
    outline:none;
    padding: 10px 18px;
    background: #ff49d1;
    color:#fff;
    cursor:pointer;
    border-radius: 28px;
    white-space: nowrap;
}

#gomb:hover {
    background-color: #5a1844;
    cursor: pointer;
}

#list-container {
    padding: 0;
    margin: 0;
    color: #111;
}

#list-container li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor:pointer;
    position:relative;
    background: transparent;
    border-radius: 6px;
    margin-bottom: 8px;
    color: inherit;
}

#list-container li::before {
    content:'';
    position:absolute;
    height:28px;
    width:28px;
    border-radius: 50%;
    background-image: url("../ikonok/unchecked.png");
    background-size: cover;
    background-position: center;
    top:8px;
    left:12px; 
}

#list-container li.checked{
    color:#555;
    text-decoration: line-through;
    opacity: 0.85;
}

#list-container li.checked::before{
    background-image: url("../ikonok/checked.png");
}

#list-container li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    color:#000000;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

#list-container li span:hover{
    background: #edeef0;
}

/* footer */
footer{
  text-align: center;
    padding: 30px 20px;
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px 10px 0 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;

}

@media (max-width: 900px) {
  .konyv_2025, .konyv_krimi, .konyv_romantikus {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .konyv-kep {
    justify-content: center;
    margin-top: 10px;
  }
  
  .konyv-kep img {
    width: 180px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .szereplok {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .szereplok-kep {
    justify-content: center;  
    margin-top:10px;
  }

  .szerzo {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .leiras {
    align-items: center;
    text-align: center;
    margin-bottom: 22px;
  }

  .leiras ul {
    text-align: left !important;
    padding-left: 20px;
    margin-left: 0;
  }

  .szerzo-kep {
    justify-content: center;
    margin-top: 10px;
  }

  .leiras h2 {
    text-align: left !important;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 12px;
  }

  footer {
        padding: 20px 15px;
        margin-top: 30px;
        border-radius: 0;
  }
  body#fooldal {
    background: gray;
    background-attachment: scroll !important;
    padding: 20px !important;
  }
  body#megjelenesek{
    background: gray;
    background-attachment: scroll !important;
    padding: 20px !important;
  } 
  
  body#krimi{
    background: gray;
    background-attachment: scroll !important;
    padding: 20px !important;
  }
  body#romantikus{
    background: gray;
    background-attachment: scroll !important;
    padding: 20px !important;
  } 
  body#szereplok{
    background: gray;
    background-attachment: scroll !important;
    padding: 20px !important;
  } 
  body#szerzok{
    background: gray;
    background-attachment: scroll !important;
    padding: 20px !important;
  }
}






